
  .heading{
    text-align: center;
    color: #0083B9;
    font-weight: 700;
    background: hsl(0, 0%, 100%);
    padding-top: 80px;
    font-family: "Popspins", sans-serif;

  }
  .heading:hover{
    color: black;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    border: 0px;
    
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px;
    margin: 0 40px;
  }
  
  .clientScroll {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 600px) {
  .clientScroll {
    gap: 16px !important;
  }
}