<!DOCTYPE html>
<html lang="en">

<script> window._izq = window._izq || []; window._izq.push(["init"]); </script>
<script src="https://cdn.izooto.com/scripts/2056358e36869c3703c03911a17695856c3c5aa3.js"></script>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <h1>hi</h1>
    <p id="p1"></p>


</body>

<script>

    document.getElementById("p1").innerHTML = "this is a paragraph"
</script>

</html>