.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-right: 16px;
    position: relative;
    background-color: rgb(38,157,215);
    height: 60px;
  }
  
  .dialogContent {
    padding: 16px;
    background-color: #f9f9f9;
  }
  
  .textField {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .dialogActions {
    justify-content: flex-start;
    padding: 8px 16px;
  }
  
  .submitButton {
    background-color: #0083B9;
    color: white;
  }
  
  .submitButton:hover {
    background-color: #0083B9;
  }
  
  .cancelButton {
    color: #0083B9
  }
  
  .snackbar {
    width: 100%;
  }
  
  .alert {
    width: 100%;
  }
  
  .dialog {
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    right: -16px; /* Move the button outside */
    top: -16px;   /* Move the button outside */
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Ensure it's on top of other elements */
    color: white;
  }
  
